body{
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #5E5E5E;
}

main {
  margin: 5%;
  clear: both;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin-bottom: 20px;
}

h1#myname a{
  color: #5E5E5E;
}

article{
  line-height: 2;
}

h1{
  border-bottom: 1px solid #aaa;
}

h2{
  font-size: 1.5em;
  text-decoration: underline;
  margin-top: 40px;
}

a:-webkit-any-link {
    color: #3399CC;
    text-decoration: none;
}

ul.posts li{
  list-style: none;
}

.posts span{
    color: #aaa;
    font-size: 75%;
    margin-right: 1em;
}

span.date{
    color: #aaa;
    font-size: 50%;
    margin-right: 1em;
}

span.date, #myname a span{
    color: #aaa;
    font-size: 50%;
    margin-right: 1em;
}

img{
  width: 45%;
}

header{
  border-bottom: 1px solid #aaa;
}

header:after{
  content: "";
  display: block;
  clear: both;
}

header h1, header a{
  float: left;
  border: none;
}

header img{
  width: 10%;
  float: left;
}


@media screen and (max-width: 800px) {
  body{
    font-size: 15px;
  }

  header img{
    margin-top: 30px;
  }

  img{
    width: 70%;
  }
}

