<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="my portfolio">
      <meta name="author" content="Naggi Goishi">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/syntax.css">
      <link rel="shortcut icon" href="/images/favicon.ico" >
      <script src='/lib/siema.min.js'></script>
      <script src='/js/sakana.js'></script>
      <title>{{ page.title }}</title>
   </head>

   {% include header.html %}

   <body>
      <main>
         {{ content }}
      </main>
   </body>

   <footer>
      <div id="footer">
         <a href="http://naggi-blog.com/">Blog | ブログ</a>
      </div>
   </footer>
</html>
