<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="my portfolio">
    <meta name="author" content="Naggi Goishi 五石　凪">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <script src='/lib/siema.min.js'></script>
    <script src='/js/sakana.js'></script>
    <title>{{ page.title }}</title>
    <meta property="og:image" content="https://naggi-goishi.github.io{{ page.imageUrl }}" />
    <meta property="og:description" content={{ page.description }} />
    <meta property="og:title" content={{ page.title }} />
    <meta property="og:type" content="website" />
</head>
{% include header.html %}

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <main>
        {{ content }}
    </main>
</body>
<footer>
    <div id="footer">
        <img id="cc-img" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
        <br />This work is licensed under a Creative Commons Attribution 4.0 International License.
    </div>
</footer>

</html>
