---
layout: default 
---
<article>
    <h1>{{ page.title }} &ensp; <span class="date">{{ page.date | date_to_string }}</span></h1> {{ content }}
    <div class="fb-like" data-href="https://naggi-goishi.github.io{{ page.url }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</article>
<footer>
    <div id="return">
        <a href="/">&laquo; home page</a>
    </div>
</footer>
<script>
  if (document.querySelector('.siema')){
    mySiema = new Siema();
    document.querySelector('.prev').addEventListener('click', () => mySiema.prev());
    document.querySelector('.next').addEventListener('click', () => mySiema.next());
  }
</script>
